<% @favour.each do |f| %>
<p> 
<p>Job Title: <%= f.job_title %> </p>

<p>Job location: <%= f.job_location %> </p>
<p>Job Description: <%= f.job_description %> </p>
<% if current_juan %>
<a href = "/favours/<%= f.id%>/delete"> Close Job </a>
<$ elsif current_runner %>

<button class = "button"><%= link_to "Apply", '/../' %></button>
<% end %>
<% end %>
