<%= form_for @favour do |f| %> 


<%= f.label  "Job Title"%> <%= f.text_field :job_title%> </p>
<p><%= f.label  "Job Description"%> <%= f.text_area :job_description%> </p>
<p><%= f.label  "Job Location"%> <%= f.text_field :job_location%> </p>

<%= f.submit "Publish Favour"%> 

<% end %> 

