<strong><h2> <%= current_juan.fname %> </h2>, <h2> <%= current_juan.fname%></h2></strong>

<% @juan.favours.each do |favour| %>
  <div class = "container">
  <span class = "border-0">
  <a href = "/favours/<%= favour.id%>"> <%=favour.job_title %></a>
  <a href = "/favours/<%= favour.id%>/delete"> Close Job </a>
  <br> <%= favour.job_description %> </br>
  </span>
  </div>
<% end %>

<%= current_juan.email %>