<!DOCTYPE html>
<html>
  <head>
    <title>Juanrun</title>
    <%= csrf_meta_tags %>

     <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default navbar-toggleable-md navbar-inverse bg-inverse navbar-fixed-top ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/../">Juanrun</a>
     

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        
         

          <% if current_juan %> 
           <li class="nav-item active">
            <a class="nav-link" href= "/../juans/<%=current_juan.id%>" > Profile <span class="sr-only">(current)</span></a>
          </li>   
           <li class="nav-item active">
            <a class="nav-link" href= "/../../" > Favours <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= "/favours/new" >New Favour <span class="sr-only">(current)</span></a>
          </li>
      
         <li class="nav-item active">
            <a class="nav-link" href= "/../juans/edit" > Settings <span class="sr-only">(current)</span></a>
          </li>         
        
         <button class = "button"><%= link_to "Log out", destroy_juan_session_path, method: :delete,data: { confirm: "Are you sure?" }%></button>

       <% elsif current_runner %> 
           <li class="nav-item active">
            <a class="nav-link" href= "/../../" > Favours <span class="sr-only">(current)</span></a>
          </li>
     
      
         <li class="nav-item active">
            <a class="nav-link" href= "/../runners/edit" > Settings <span class="sr-only">(current)</span></a>
          </li>         
        
         <button class = "button"><%= link_to "Log out", destroy_runner_session_path,data: { confirm: "Are you sure?" }%></button>

          
        <% else %>
        <li class="nav-item active">
              <a class="nav-link" href= "/../juans/sign_up" > Sign up as Juan <span class="sr-only">(current)</span></a>
         
        </li>
         <li class="nav-item active">
                 <a class="nav-link" href= "/../runners/sign_up" > Sign up as Runner <span class="sr-only">(current)</span></a>   
        </li>
        <li class="nav-item active">
                 <a class="nav-link" href= "/../juans/sign_in" > Sign in as Juan <span class="sr-only">(current)</span></a>
         
        </li>
        
        <li class="nav-item active">
          <li class="nav-item active">
                 <a class="nav-link" href= "/../runners/sign_in" > Sign in as Runner <span class="sr-only">(current)</span></a>
         
       
            
        </li>
        <% end %>

           
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search Favours">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
     
   <div class = "container">
         <div class = "row">
     <div class= "col-lg-12-text-center">
     <% flash.each do |a, b| %>
     <div class = "alert alert-success"> <%= b %> </div>
     <% end %>
     <%= yield %>
    </div>
     </div>
  </body>
</html>
